/*
Theme Name: custom_theme

*/

p{
   font-size: 20px; 
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header,h3{
    margin:20px;
}
body{
    background-color: rgb(230, 187, 135);
    margin:0;
    padding:0; 
    box-sizing: border-box;
}
 img{
    width:200px;
    height:200px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px darkred);
}
 
.big-container{
width:90%;
height:90%;
margin-left:15px;

}